/* Reset -------------------------------------------------------------------- */
* 	 { margin: 0;padding: 0; }
/*body { font-size: 14px; }*/

/* OPPS --------------------------------------------------------------------- */

h3 {
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

h5 {
	text-align: center;
	justify-content: center;
}

.opps {
	max-width: 496px;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 0 25px;
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid #b0afb5;
	font-family: 'Open Sans', sans-serif;
	color: #4f5365;
}

.opps-reminder {
	position: relative;
	top: -1px;
	padding: 9px 0 10px;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background: #000000;
}

.opps-info {
	margin-top: 10px;
	position: relative;
}

.opps-info:after {
	visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;

}

.opps-brand {
	width: 45%;
	float: left;
}

.opps-brand img {
	max-width: 100%;
	margin-top: 2px;
}

.opps-ammount {
	width: 55%;
	float: right;
}

.opps-ammount h2 {
	font-size: 36px;
	color: #000000;
	line-height: 24px;
	margin-bottom: 15px;
}

.opps-ammount h2 sup {
	font-size: 16px;
	position: relative;
	top: -2px
}

.opps-ammount p {
	font-size: 10px;
	line-height: 14px;
}

.opps-reference {
	margin-top: 0px;
}

.reference-number {
	font-size: 27px;
	color: #000000;
	text-align: center;
	margin-top: -1px;
	padding: 6px 0 7px;
	border: 1px solid #b0afb5;
	border-radius: 4px;
	background: #f8f9fa;
}

.opps-instructions {
	margin: 32px -45px 0;
	padding: 32px 45px 45px;
	border-top: 1px solid #b0afb5;
	background: #f8f9fa;
}

ol {
	margin: 17px 0 0 16px;
}

li {
	margin-top: 10px;
	color: #000000;
}

.linkOxxo {
	color: #1155cc;
}

.opps-footnote {
	margin: 20px;
	padding: 5px;
	color: #108f30;
	text-align: center;
	border: 1px solid #108f30;
	border-radius: 4px;
	background: #ffffff;
}

@media(max-width: 500px) {
	
	body { font-size: 12px; }

	.opps {
		padding: 5px;
	}

	.opps-reminder {
		padding: 2px 0 2px;
		font-size: 8px;
	}

	.opps-ammount h2 {
		font-size: 18px;
		margin-bottom: 5px;
		line-height: 15px;
	}

	.opps-ammount h2 sup {
		font-size: 10px;
		position: relative;
		top: -1px
	}

	.opps-ammount p {
		font-size: 9px;
		line-height: 10px;
	}

	.reference-number {
		font-size: 18px;
	}

	.opps-instructions {
		margin: 10px -45px 0;
		padding: 10px 45px 10px;
	}

	.opps-footnote {
		font-size: 11px;
		margin: 0px;
		padding: 3px;
	}

	div h3 {
		font-size: 12px;
	}

	li {
		margin-top: 7px;
		font-size: 10px;
	}	
  }

/***** Estilos de la tabla ****/

.table-container {
    overflow-x: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 10px;
    margin: 10px;
  }

  tr {
	height: 40px !important;
  }
  
  th {
	max-width: 125px;
	min-width: 125px;
	padding: 0 !important;
	overflow-x: auto;
	white-space: nowrap;
	text-align: center !important;
  }

  @media(max-width: 1080px) {
	th {
		max-width: 80px;
		min-width: 80px;
	  }
  }

  @media(max-width: 860px) {
	th {
		max-width: auto;
		min-width: auto;
	  }
  }
  
  td {
	height: 40px !important;
	padding: 5px !important;
	text-align: center !important;
  }