.table-container {
    overflow-x: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 10px;
    margin: 10px;
  }

  tr {
	height: 40px !important;
  }
  
  th {
	max-width: 125px;
	min-width: 125px;
	padding: 0 !important;
	overflow-x: auto;
	white-space: nowrap;
	text-align: center !important;
  }

  @media(max-width: 1080px) {
	th {
		max-width: 80px;
		min-width: 80px;
	  }
  }

  @media(max-width: 860px) {
	th {
		max-width: auto;
		min-width: auto;
	  }
  }
  
  td {
	height: 40px !important;
	padding: 5px !important;
	text-align: center !important;
  }

  .Cards-buttons {
    flex: 1;
    display: flex;
    margin-top: 1em;
    margin-bottom: 2em;
}

.div-card-button-add {
    /* flex: 1;
    display: flex; */
    vertical-align: flex-end;
}

.button-add {
  /* paddingTop: '5px',
  paddingBottom: '5px',
  paddingLeft: '10px',
   paddingRight: '10px', */
  background-color: brown;
}

.div-card-button-cancel {
    /* flex: 1;
    display: flex; */
    justify-content: flex-start; 
}

.Form-container {
  display: flex;
  flex-direction: column;
  padding: 2em 5em;
  align-items: center;
  flex: 1;
}

@media(max-width: 860px) {
  .Form-container {
      display: flex;
      flex-direction: column;
      padding: 10px;
      align-items: center;
      flex: 1;
  }
}