body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.withPadding {
    padding-left: 260px;
}

.__header {
    padding-left: 55px;
    height: 50px;
    display: flex;
    align-items: center;
    background: #727272;
}

.__content_padding {
    padding: 10px 25px;
}

.__sidebar_children {
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    font-size: 13px;
    z-index: 1100;
    top: inherit;
    transition: all 0.5s;
    transform-origin: top;
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.__sidebar_children.active {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}

.bm-item .__link {
    color: white;
    text-decoration: none;
}

.bm-item .__moduleActive.__link {
    color: #c94e50;
    text-decoration: none;
}

.bm-item .__link:hover {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.bm-item .__moduleActive.__link:hover {
    color: #c94e50;
    text-decoration: none;
    font-weight: 500;
}

.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.options {
  margin-bottom: 20px;
}


.__card {
    width: 340px;
    border: 1px solid #ccc;
    padding: 15px;
}

.__card_provider {
    max-width: 500px;
    border: 1px solid #ccc;
    padding: 15px;
}

.__card .__card__header,
.__card_provider .__card__header {
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 20px;
}

.__card .__card__body,
.__card_provider .__card__body {
    padding: 20px 0;
}

.__card .__card__body span,
.__card_provider .__card__body span {
    color: #477cb5;
    margin-right: 10px;
}

.__card .__card__footer,
.__card_provider .__card__footer {
    display: flex;
    justify-content: center;
}

.__card .__card__footer button,
.__card_provider .__card__footer button {
    margin: 0 5px;
}
.__card p,
.__card_provider p {
    margin: 0;
}


.Select.form-control.is-clearable.is-searchable.Select--single,
.Select.form-control.is-clearable.is-searchable.Select--multi {
    padding: 0;
}


.Select.form-control.is-clearable.is-searchable.Select--single .Select-control,
.Select.form-control.is-clearable.is-searchable.Select--multi .Select-control {
    border: none;
}

.isRequired {
    color: #dc3545;
    font-size: 14px;
}

.__contact_card {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 200px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}

.__contact_card .__button_delete {
    position: absolute;
    right: 4px;
    top: 3px;
    color: #dc3545;
}

.__contact_card_symbol {
    padding: 10px 11px;
    border-radius: 50%;
    background: #ccc;
    color: white;
}
.__contact_card_info {
    margin-left: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.sidebar-menu ul li.sidebar-dropdown.active a.active{
    color: #fff;
    font-weight: 600;
}

.__tube_timeline {
    height: 40px;
    width: 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.__circle_timeline {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ccc;
    border: 1px solid #ccc;
    margin: 2px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}

.__card_line_vertical {
    background: red;
    width: 10px;
    margin-right: 10px;
}

.__row_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.__card_event {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__card_inner_event {
    min-height: 45px;
    max-height: 100px;
    display: flex;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
}
