@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(5deg);
    }
    70% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes sonar {
    0% {
        transform: scale(.9);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

body {
    font-size: .9rem;
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand>a,
.sidebar-wrapper .sidebar-dropdown>a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
.sidebar-b .sidebar-wrapper::before,
#show-sidebar,
#close-sidebar {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
    height: 100vh;
}

.page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
    background-size: cover;
}
.page-wrapper .theme.selected {
    border:2px solid #00c7ff;
}

.page-wrapper .theme.chiller-theme {
    background: #1d1d1d;
}

.page-wrapper .theme.ice-theme {
    background: #2B3A42;
}

.page-wrapper .theme.light-theme {
    background: #F1F0ED;
}

.page-wrapper .theme.cool-theme {
    background: #38373D;
}

.page-wrapper .theme.green-theme {
    background: #2C5E2E;
}

.page-wrapper .theme.spicy-theme {
    background: #8E2800;
}

.page-wrapper .theme.purple-theme {
    background: #372049;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
}

@media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 300px;
    }
}

/*----------------hide sidebar for small screens----------------*/
/* @media screen and(max-width: 768px) {
    .sidebar-wrapper {
        left: -300px;
    }
} */



/*----------------show sidebar button----------------*/

#show-sidebar {
    position: absolute;
    left: 0;
    top: 10px;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition-delay: .3s;
}

.page-wrapper.toggled #show-sidebar {
    left: -40px;
}

/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
    width: 260px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 999;
}

.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-wrapper a {
    text-decoration: none;
}
/*----------------sidebar background style-------------*/

.sidebar-bg .sidebar-wrapper{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sidebar-bg .sidebar-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: scroll;
    position: relative;
}

.sidebar-content.desktop {
    overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.sidebar-wrapper .sidebar-brand>a {
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
    cursor: pointer;
    font-size: 15px;
}

/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
    float: left;
    width: 60px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
    float: left;
}

.sidebar-wrapper .sidebar-header .user-info>span {
    display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
    font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
    font-size: 11px;
    margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search>div {
    padding: 10px 20px;
}

.sidebar-wrapper .sidebar-search .input-group-append .input-group-text{
    border-left: 0;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover>i::before {
    display: inline-block;
    animation: swing ease-in-out .5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown>a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    float: right;
    margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
    transform: rotate(90deg);
    right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
}

.sidebar-footer>div {
    flex-grow: 1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: static;
    display: flex;
}

.sidebar-footer .dropdown-menu {
    bottom: 31px;
    left: 0 !important;
    top: initial !important;
    right: 0;
    transform: none!important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: .9rem;
}

.sidebar-footer>div>a {
    flex-grow: 1;
}

.sidebar-footer>div a .notification {
    position: absolute;
    top: 0;
}

.badge-sonar {
    display: inline-block;
    background: #980303;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 0;
}

.badge-sonar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #980303;
    opacity: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: sonar 1.5s infinite;
}


.sidebar-footer .messages .dropdown-item,
.sidebar-footer .notifications .dropdown-item{
    padding: .25rem 1rem;
}
.sidebar-footer .messages .messages-header,
.sidebar-footer .notifications .notifications-header{
    padding: 0 1rem;
}
.sidebar-footer .messages .message-content,
.sidebar-footer .notifications .notification-content{
    display: flex;
}

.sidebar-footer .messages .message-content .pic{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}
.sidebar-footer .notifications .notification-content .icon{
    width: 40px;
    height: 40px;
}
.sidebar-footer .notifications .notification-content .icon i{
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 4px;
}

.sidebar-footer .messages .message-content .pic img{
    object-fit: cover;
    height: 100%;
}
.sidebar-footer .notifications .notification-content .content,
.sidebar-footer .messages .message-content .content{
    line-height: 1.6;
    padding-left: 5px;
    width: calc(100% - 40px);
}
.sidebar-footer .messages .message-content .content .message-title{
    font-size: 13px;
}

.sidebar-footer .notifications .notification-content .content .notification-time{
    font-size: .7rem;
    color: #828282;
}

.sidebar-footer .notifications .notification-content .content .notification-detail,
.sidebar-footer .messages .message-content .content .message-detail{
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
}

.page-wrapper .page-content>div {
    padding: 20px 40px;
}

.page-wrapper .page-content {
    overflow-x: hidden;
}

/*----------------  Scroll bar style   --------------- */

.mCSB_scrollTools {
    width: 6px;
}

.mCSB_inside>.mCSB_container {
    margin-right: 0px;
}

/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
    background-color: #d11217;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #2b2b2b;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: #2b2b2b;
    box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>div>a {
    color: #fff;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>div>a:hover i {
    color: #ffffff;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #fff;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #ffffff;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #2b2b2b;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88;
}

.chiller-theme .sidebar-footer {
    background-color: #2b2b2b;
    box-shadow: 0px -1px 5px #131212;
    border-top: 1px solid #3a3a3a;
}


.chiller-theme .sidebar-footer>div:first-child {
    border-left: none;
}

.chiller-theme .sidebar-footer>div:last-child {
    border-right: none;
}

.chiller-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.chiller-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.chiller-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #636363;
}

.chiller-theme .mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
}

/*-----------------------style with background image -----------------------------------*/

.sidebar-bg.chiller-theme .sidebar-wrapper::before {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-bg.chiller-theme .sidebar-wrapper .sidebar-header,
.sidebar-bg.chiller-theme .sidebar-wrapper .sidebar-search,
.sidebar-bg.chiller-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-bg.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-bg.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: none;
}

.sidebar-bg.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.sidebar-bg.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.sidebar-bg.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-bg.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-bg.chiller-theme .sidebar-footer {
    background-color: rgba(43, 43, 43, 0.5);
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.28);
    border-top: 1px solid rgba(255, 255, 255, 0.058823529411764705);
}

/*-----------------------------ice-theme-------------------------------------------------*/

.ice-theme .sidebar-wrapper {
    background-color: #2B3A42;
}

.ice-theme .sidebar-wrapper .sidebar-header,
.ice-theme .sidebar-wrapper .sidebar-search,
.ice-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #3a4d56;
}

.ice-theme .sidebar-wrapper .sidebar-search input.search-menu,
.ice-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: #3a4d56;
    box-shadow: none;
}

.ice-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.ice-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.ice-theme .sidebar-wrapper .sidebar-search input.search-menu,
.ice-theme .sidebar-wrapper .sidebar-search .input-group-text,
.ice-theme .sidebar-wrapper .sidebar-brand>a,
.ice-theme .sidebar-wrapper .sidebar-menu ul li a,
.ice-theme .sidebar-footer>div>a {
    color: #bdd4de;
}

.ice-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.ice-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.ice-theme .sidebar-wrapper .sidebar-header .user-info,
.ice-theme .sidebar-wrapper .sidebar-brand>a:hover,
.ice-theme .sidebar-footer>div>a:hover i {
    color: #EFEFEF;
}

.page-wrapper.ice-theme.toggled #close-sidebar {
    color: #bdd4de;
}

.page-wrapper.ice-theme.toggled #close-sidebar:hover {
    color: #EFEFEF;
}

.ice-theme .sidebar-wrapper ul li:hover a i,
.ice-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.ice-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.ice-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #EFEFEF;
}

.ice-theme .sidebar-wrapper .sidebar-menu ul li a i,
.ice-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.ice-theme .sidebar-wrapper .sidebar-search input.search-menu,
.ice-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #3a4d56;
}

.ice-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: rgba(189, 212, 222, 0.5);
}

.ice-theme .sidebar-footer {
    background-color: #3a4d56;
    border-top: 1px solid #495d67;
}

.ice-theme .sidebar-footer>div:first-child {
    border-left: none;
}

.ice-theme .sidebar-footer>div:last-child {
    border-right: none;
}

.ice-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.ice-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.ice-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #8998a5;
}

.ice-theme .mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
}

/*-----------------------style with background image -----------------------------------*/

.sidebar-bg.ice-theme .sidebar-wrapper::before {
    background-color: rgba(2, 19, 25, 0.8);
}

.sidebar-bg.ice-theme .sidebar-wrapper .sidebar-header,
.sidebar-bg.ice-theme .sidebar-wrapper .sidebar-search,
.sidebar-bg.ice-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid rgba(58, 77, 86, 0.5);
}

.sidebar-bg.ice-theme .sidebar-wrapper .sidebar-menu ul li a i,
.sidebar-bg.ice-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.sidebar-bg.ice-theme .sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-bg.ice-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: rgba(58, 77, 86, 0.4);
}

.sidebar-bg.ice-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: rgba(189, 212, 222, 0.5);
}

.sidebar-bg.ice-theme .sidebar-footer {
    background-color: rgba(58, 77, 86, 0.3);
    border-top: 1px solid rgba(73, 93, 103, 0.3);
}

/*-----------------------cool theme---------------------*/

.cool-theme .sidebar-wrapper {
    background-color: #38373D;
}

.cool-theme .sidebar-wrapper .sidebar-header,
.cool-theme .sidebar-wrapper .sidebar-search,
.cool-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #504E57;
}

.cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
.cool-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: #504E57;
    box-shadow: none;
}

.cool-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.cool-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
.cool-theme .sidebar-wrapper .sidebar-search .input-group-text,
.cool-theme .sidebar-wrapper .sidebar-brand>a,
.cool-theme .sidebar-wrapper .sidebar-menu ul li a,
.cool-theme .sidebar-footer>div>a {
    color: #918F9E;
}

.cool-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.cool-theme .sidebar-wrapper .sidebar-header .user-info,
.cool-theme .sidebar-wrapper .sidebar-brand>a:hover,
.cool-theme .sidebar-footer>div>a:hover i {
    color: #b3b8c1;
}

.page-wrapper.cool-theme.toggled #close-sidebar {
    color: #918F9E;
}

.page-wrapper.cool-theme.toggled #close-sidebar:hover {
    color: #b3b8c1;
}

.cool-theme .sidebar-wrapper ul li:hover a i,
.cool-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.cool-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #ff7bdb;
}

.cool-theme .sidebar-wrapper .sidebar-menu ul li a i,
.cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
.cool-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #504E57;
}

.cool-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #5B5963;
}

.cool-theme .sidebar-footer {
    background-color: #504E57;
    box-shadow: 0px -1px 5px #2a292d;
    border-top: 1px solid #5B5963;
}

.cool-theme .sidebar-footer>div {
    border-left: 1px solid #38373D;
    border-right: 1px solid #5B5963;
}

.cool-theme .sidebar-footer>div:first-child {
    border-left: none;
}

.cool-theme .sidebar-footer>div:last-child {
    border-right: none;
}

.cool-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.cool-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.cool-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #918F9E;
}

/*-----------------------style with background image -----------------------------------*/

.sidebar-bg.cool-theme .sidebar-wrapper::before {
    background-color: rgba(47, 47, 47, 0.8);
}

.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-header,
.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-search,
.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: rgba(138, 137, 144, 0.6);
}

.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-menu ul li a i,
.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: rgba(105, 105, 105, 0.5);
}

.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #8e8d90;
}

.sidebar-bg.cool-theme .sidebar-footer {
    background-color: rgba(80, 78, 87, 0.5);
}

/*----------------------Light theme-------------------------*/

.light-theme .sidebar-wrapper {
    background-color: #F1F0ED;
    border-right: 1px solid #A4A29E;
}

.light-theme .sidebar-wrapper .sidebar-brand,
.light-theme .sidebar-wrapper .sidebar-header,
.light-theme .sidebar-wrapper .sidebar-search {
    border-bottom: 1px solid #A4A29E;
}

.light-theme .sidebar-wrapper .sidebar-header,
.light-theme .sidebar-wrapper .sidebar-search,
.light-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #ffffff;
}

.light-theme .sidebar-wrapper .sidebar-search input.search-menu,
.light-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: #c1c1c1;
    box-shadow: none;
}

.light-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.light-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.light-theme .sidebar-wrapper .sidebar-search input.search-menu,
.light-theme .sidebar-wrapper .sidebar-search .input-group-text,
.light-theme .sidebar-wrapper .sidebar-brand>a,
.light-theme .sidebar-wrapper .sidebar-menu ul li a,
.light-theme .sidebar-footer>div>a {
    color: #74726E;
}

.light-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.light-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.light-theme .sidebar-wrapper .sidebar-header .user-info,
.light-theme .sidebar-wrapper .sidebar-brand>a:hover,
.light-theme .sidebar-footer>div>a:hover i {
    color: #302F2C;
}

.page-wrapper.light-theme.toggled #close-sidebar {
    color: #74726E;
}

.page-wrapper.light-theme.toggled #close-sidebar:hover {
    color: #302F2C;
}

.light-theme .sidebar-wrapper ul li:hover a i,
.light-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.light-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.light-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #00a9fd;
}

.light-theme .sidebar-wrapper .sidebar-menu ul li a i,
.light-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.light-theme .sidebar-wrapper .sidebar-search input.search-menu,
.light-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #ffffff;
}

.light-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #A4A29E;
}

.light-theme .sidebar-footer {
    background-color: #f1f0ed;
    border-top: 1px solid #A4A29E;
}

.light-theme .sidebar-footer>div {
    border-left: 1px solid #A4A29E;
    border-right: 1px solid #ffffff;
}

.light-theme .sidebar-footer>div:first-child {
    border-left: none;
}

.light-theme .sidebar-footer>div:last-child {
    border-right: none;
}

.light-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.light-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.light-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #c1c1c1;
}

.light-theme .mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
}

/*-----------------------style with background image -----------------------------------*/

.sidebar-bg.light-theme .sidebar-wrapper::before {
    background-color: rgba(241, 240, 237, 0.8);
}

.sidebar-bg.light-theme .sidebar-wrapper .sidebar-header,
.sidebar-bg.light-theme .sidebar-wrapper .sidebar-search,
.sidebar-bg.light-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #ffffff;
}

.sidebar-bg.light-theme .sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-bg.light-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: #c1c1c1;
}

.sidebar-bg.light-theme .sidebar-wrapper .sidebar-menu ul li a i,
.sidebar-bg.light-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.sidebar-bg.light-theme .sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-bg.light-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: rgba(255, 255, 255, 0.5);
}

.sidebar-bg.light-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #696969;
}

.sidebar-bg.light-theme .sidebar-footer {
    background-color: rgba(241, 240, 237, 0.8);
    border-top: 1px solid #A4A29E;
}


/* width */
.sidebar-wrapper ::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.sidebar-wrapper ::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.sidebar-wrapper ::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
.sidebar-wrapper ::-webkit-scrollbar-thumb:hover {
    background: #555;
}
